.cardbooks {
  /* margin: 30px auto; */
  width: 400px;
  height: 300px;
  border-radius: 40px;

  cursor: pointer;
  transition: 0.4s;
}

.cardbooks .cardbooks_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.cardbooks .cardbooks_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.cardbooks .cardbooks_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: -320px;
  padding-top: 0.11px;
  height: 40px;
  position: relative;
}

.cardbooks:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

/* /* @media all and (max-width: 500px) {
  .cardbooks-list {
    /* On small screens, we are no longer using row direction but column */
/* flex-direction: column;
  }
} */

.main {
  padding-left: 30px;
  padding-left: 30px;
  width: 100%;
}

.addtocart {
  color: white;
  position: relative;
  background-color: #51adc7;
  border: none;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.cardlogo {
  opacity: 0.1;
}
