input[type="text"] {
  border: 2px solid;
  height: 40px;
  width: 80%;
}
::placeholder {
  color: black;
  opacity: 1;
  font-size: 15px;
  /* padding: 60px; */
}

.center {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;

  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.textInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* table{
  margin-left: 8px;
} */

.btn {
  display: inline-block;
  background: #fff;
  box-shadow: 0 5px 15px -5px #aaa;
  margin: 10px;
  /* border-radius: 30%; */
  overflow: hidden;
  position: relative;
  color: #42d2ff;
}



.btn p {
  position: relative;
  z-index: 4;
  line-height: 10px;
  font-size: 20px;
  transition: 0.3s ease-in-out;
}

p {
  padding-top: 10px;
}

.btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: linear-gradient(#00c6ff, #0072ff);
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}


.btn:hover p {
  color: #fff;
  /* transform: scale(1.3); */
}



.btn:hover::before {
  animation: onHover 0.7s 1;
  left: -10%;
  top: -10%;
}



@keyframes onHover {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

.card{
  display: inline-block;
  background: #fff;
  box-shadow: 0 5px 15px -5px #aaa;
  margin: 10px;
  /* border-radius: 30%; */
  overflow: hidden;
  position: relative;
  color: #42d2ff;
}

.card::before{
  content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0Welcome";
  color: white;
  position: absolute;
  width: 120%;
  height: 120%;
  background: linear-gradient(#00c6ff, #0072ff);
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.card:hover .btn2{
  color: #fff;
  /* transform: scale(1.3); */
}

.card:hover::before {
  animation: onHover 0.7s 1;
  left: -10%;
  top: -10%;
}

.btn2 {
  padding-left: 220px;
  font-size: small;
  padding-bottom: 40px;
  /* z-index:-1; */
  position:relative;
}


.btn2:hover {
  cursor: pointer;
  /* color: white; */
}

.passtextinput{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}